
<div class="hero-wrap js-fullheight" style="background-image: url(/backup/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="js-fullheight d-flex justify-content-center align-items-center">
			<div class="col-md-8 text text-center">

				<div class="desc">
					
					<div class="card-body">@ViewBag.Msg</div>
					<p><a href="/" class="btn-custom">Anasayfa</a></p>
				</div>
			</div>
		</div>
	</div>