<div id="colorlib-main">
	<div class="hero-wrap js-fullheight" style="background-image: url(/backup/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="js-fullheight d-flex justify-content-center align-items-center">
			<div class="col-md-8 text text-center">
				<div class="img mb-4" style="background-image: url(/backup/images/header.jpg);"></div>
				<div class="desc">
					<h2 class="subheading">Hoşgeldiniz</h2>
					<h1 class="mb-4">Eunoia Blog</h1>
					<p class="mb-4">Eunoia, kişisel gelişim yolculuğunda olumlu düşünce alışkanlıklarını benimsemek, kendine ve çevresine daha anlayışlı yaklaşmak ve içsel dengeyi sağlamak için önemli bir kavramdır. Bu yaklaşım, özsaygıyı artırma, stresle başa çıkma ve daha tatmin edici ilişkiler kurma süreçlerinde rehberlik edebilir.</p>
					<p><a href="/blog" class="btn-custom">Daha fazlası için...<span class="ion-ios-arrow-forward"></span></a></p>
				</div>
			</div>
		</div>
	</div>
	
</div>