@{Layout=null;}

<!DOCTYPE html>
<html lang="tr">
<head>
	<title>Eunoia</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">

	<link rel="stylesheet" href="/backup/css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="/backup/css/animate.css">

	<link rel="stylesheet" href="/backup/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/backup/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="/backup/css/magnific-popup.css">

	<link rel="stylesheet" href="/backup/css/aos.css">

	<link rel="stylesheet" href="/backup/css/ionicons.min.css">

	<link rel="stylesheet" href="/backup/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="/backup/css/jquery.timepicker.css">


	<link rel="stylesheet" href="/backup/css/flaticon.css">
	<link rel="stylesheet" href="/backup/css/icomoon.css">
	<link rel="stylesheet" href="/backup/css/style.css">
</head>
<body>

<div id="main">
	<div class="hero-wrap js-fullheight" style="background-image: url(/backup/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="js-fullheight d-flex justify-content-center align-items-center">
			<div class="col-md-8 text text-center">
				
				<div class="desc">
					<h1 class="subheading">Upsss!</h1>
					<p class="mb-4">Aradığınız sayfayı bulamadık :(</p>
					<p><a href="/" class="btn-custom">Anasayfa</a></p>
				</div>
			</div>
		</div>
	</div>

</div>
	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


	<script src="/backup/js/jquery.min.js"></script>
	<script src="/backup/js/jquery-migrate-3.0.1.min.js"></script>
	<script src="/backup/js/popper.min.js"></script>
	<script src="/backup/js/bootstrap.min.js"></script>
	<script src="/backup/js/jquery.easing.1.3.js"></script>
	<script src="/backup/js/jquery.waypoints.min.js"></script>
	<script src="/backup/js/jquery.stellar.min.js"></script>
	<script src="/backup/js/owl.carousel.min.js"></script>
	<script src="/backup/js/jquery.magnific-popup.min.js"></script>
	<script src="/backup/js/aos.js"></script>
	<script src="/backup/js/jquery.animateNumber.min.js"></script>
	<script src="/backup/js/bootstrap-datepicker.js"></script>
	<script src="/backup/js/jquery.timepicker.min.js"></script>
	<script src="/backup/js/scrollax.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="/backup/js/google-map.js"></script>
	<script src="/backup/js/main.js"></script>

</body>
</html>